.is-cdm #carlisting aside .filter-box .filter-control, .is-cdm #confidence a, .is-cdm a, .is-cdm a:focus, .is-cdm a:hover {
	color: #cc007a
}

.is-cdm input[type=text]:focus, .is-cdm input[type=password]:focus, .is-cdm input[type=email]:focus, .is-cdm select:focus, .is-cdm textarea:focus {
	border-color: #cc007a
}

.is-cdm #main-header {
	background: url(/assets/images/cdm-bg-header-f5cb16f3334afb538f2041424d5d804f.png)
}

.is-cdm #main-header #logo {
	background: url(/assets/images/cdm-logo-c6f2065490a9f05707a9d0f9fa7e35e5.svg) left center no-repeat;
	height: 70px;
	margin-top: 10px
}

.is-cdm #main-header nav ul li a {
	color: #fff;
	border-left: 1px solid #fff
}

@media (min-width: 0px) and (max-width: 670px) {
	.is-cdm #main-header nav ul li a {
		color: #333
	}
}

.is-cdm #main-header nav i, .is-cdm .btn.gray:hover {
	color: #fff
}

.is-cdm #main-header nav ul li:first-child a {
	border-left: none
}

.is-cdm #main-header nav > ul {
	margin-top: 45px
}

.is-cdm .hamburger-icon span {
	background: #fff
}

.is-cdm .btn.orange {
	background-color: #e10019
}

.is-cdm .btn.orange:hover {
	background-color: #e13f51;
	color: #fff
}

.is-cdm h3 {
	color: #333
}

.is-cdm #booking-funnel {
	background-image: url(/assets/images/cdm-bg-174bd14ba2fd069ffeb387cf0eca3528.jpg);
	background-position: center 25%
}

.is-cdm #booking-funnel form {
	background-color: rgba(255, 255, 255, .9)
}

.is-cdm #booking-funnel h1 {
	font-weight: 400;
	font-size: 2.1875rem
}

@media (min-width: 0px) and (max-width: 670px) {
	.is-cdm #main-header #logo {
		height: 46px;
		margin-top: 0
	}

	.is-cdm #main-header nav > ul {
		margin-top: 0
	}

	.is-cdm #booking-funnel form {
		background-color: transparent
	}

	.is-cdm #booking-funnel h1 {
		font-size: 6.9vw
	}

	.is-cdm #booking-funnel {
		background-image: url(/assets/images/cdm-bg-mobile-37ff8dc18d32493d7b240124a5aff83b.jpg);
		background-position: center center;
		background-size: cover
	}
}

@media (min-width: 671px) and (max-width: 1023px) {
	.is-cdm #booking-funnel h1 {
		font-size: 3.5vw
	}

	.is-cdm #booking-funnel form {
		margin-top: 20px
	}
}

.is-cdm #confidence .btn {
	background-color: #e10019
}

.is-cdm #main-footer .small-footer {
	background: url(/assets/images/cdm-bg-header-f5cb16f3334afb538f2041424d5d804f.png) left 25px repeat-x
}

.is-cdm #main-footer .small-footer #small-nav-footer {
	padding: 10px 0;
	background-color: #ee7203
}

.is-cdm #main-footer .small-footer #small-nav-footer ul {
	margin: 0
}

.is-cdm #main-footer .small-footer #small-nav-footer ul li a {
	color: #fff;
	border-left: 1px solid #fff
}

.is-cdm #main-footer .small-footer #small-nav-footer ul li:first-child a {
	border-left: none
}

.is-cdm #main-footer #copyright {
	color: #fff
}

@media (min-width: 0px) and (max-width: 1023px) {
	.is-cdm #carlisting aside form .toggle.capacity-toggle {
		padding-bottom: 60px
	}

	.is-cdm #carlisting aside form .toggle.capacity-toggle.toggle-up {
		padding-bottom: 0
	}
}

@media (min-width: 0px) and (max-width: 670px) {
	.is-cdm .main-form-horizontal .locations button, .is-cdm .main-form-horizontal .locations button:hover {
		background-color: transparent;
		color: #cc007a
	}

	.is-cdm .cdm-checkout .white-panel {
		padding-left: 15px;
		padding-right: 15px
	}
}

.is-cdm .car-list .radio-align span {
	color: #999
}

.is-cdm .car-list p {
	line-height: 1rem
}

.is-cdm .car-list.deep-link {
	border: 2px solid #e10019
}

.is-cdm .car-list.deep-link h3 {
	color: #e10019
}

.is-cdm .car-list .book-label {
	background-color: #eb7304
}

.is-cdm .additional-info-tabs ul li {
	margin-left: 3px
}

.is-cdm .additional-info-tabs ul li:first-child {
	margin-left: 0
}

.is-cdm .additional-info-tabs ul li a {
	color: #fff;
	background-color: #999;
	border-left: 1px solid #ccc
}

.is-cdm .additional-info-tabs ul li a.selected {
	background-color: #fff;
	color: #000
}

.is-cdm .tbl-cov .tbl-cell {
	width: 25% !important;
	vertical-align: middle;
	border-left: 1px solid #ebebeb
}

.is-cdm .tbl-cov .tbl-cell:first-child {
	border-left: none
}

.is-cdm .tbl-cov i {
	font-size: 1.375rem
}

.is-cdm .additional-features i.attention {
	color: #f1a817
}

.is-cdm .booking-page-type h4 {
	color: #000 !important
}

.is-cdm .form-group.expiration-date {
	margin-bottom: 0
}

.is-cdm .excess-panel label.selected {
	color: #000
}

.is-cdm .change-station {
	display: inline-block;
	position: relative
}

.is-cdm .change-station .js-change-location.visible:after, .is-cdm .change-station .js-change-location.visible:before {
	right: -11px;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index: 99999
}

.is-cdm .change-station .js-change-location.visible:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -10px
}

.is-cdm .change-station .js-change-location.visible:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #ccc;
	border-width: 11px;
	margin-top: -11px
}

.is-cdm .change-station .change-station-box {
	display: none;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);
	left: 111%;
	top: -85px;
	position: absolute;
	padding: 20px;
	background-color: #fff;
	z-index: 9999;
	min-width: 310px
}

.is-cdm .change-station .change-station-box .add-dropoff, .is-cdm .change-station .change-station-box .add-dropoff + label {
	margin-top: 10px
}

@media (min-width: 0px) and (max-width: 670px) {
	.is-cdm .change-station .js-change-location.visible:after, .is-cdm .change-station .js-change-location.visible:before {
		display: none
	}

	.is-cdm .change-station .change-station-box {
		top: 110%;
		left: 0;
		width: 100%
	}

	.is-cdm .change-station .change-station-box:after, .is-cdm .change-station .change-station-box:before {
		display: none
	}

	.is-cdm .change-station .change-station-box h4 {
		color: #333 !important;
		padding-top: 0 !important;
		border-top: none !important
	}
}

.is-cdm .change-station .btn {
	display: inline-block;
	margin-top: 15px
}

.is-cdm .change-station .close-box.abs {
	position: absolute;
	right: 20px;
	top: 15px;
	color: #333;
	font-size: 1.3125rem
}

.is-cdm .confirmation-menu a {
	color: #000
}

@media (min-width: 0px) and (max-width: 1023px) {
	.is-cdm .border-btn-motab {
		border: 1px solid #cc007a
	}
}

.is-cdm .pika-single .pika-lendar .pika-table tbody tr td.is-selected button {
	background: #e42b86
}

.is-cdm .pika-single .pika-lendar .pika-table tbody tr td.is-today button {
	color: #e42b86
}

.is-cdm .pika-single .pika-lendar .pika-table tbody tr td button:hover {
	background: #ffeef6 !important;
	color: #e42b86 !important
}

.update-page .is-cdm #main-header #logo {
	display: inline-block
}

.update-page .is-cdm .update-wrap .update-content {
	border: 2px solid #cc007a
}